body {
    background-image: radial-gradient(paleturquoise, mediumaquamarine) ;
	width: 75vw;
	height: 75vh;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2vw;
	margin-top: 10vw;
    padding: 10vw;
	color: black;
	display: grid;
	grid-template-columns: auto auto auto;
    position: relative;
}
#hedgefences {
    background-image: url('./svg/hedgefences.svg');
    font-size: 2.5vw;
    font-weight: bold;
}

h1 {
    font-size: 10vw;
    z-index: 100;
}
h2 {
    font-style: italic;
    font-size: 8vw;
}
                    #white {
                        background-image: radial-gradient(white, ghostwhite);
                        margin-top:0;
                        padding: 1vw;
                    }
                    #black {
                        background-image: radial-gradient(dimgrey, black);
                        color: white;
                    }
                    #pink {
                        background-image: radial-gradient(mistyrose, lightpink);
                    }
                    #coral {
                        background-image: radial-gradient(thistle, orchid);
                    }
                    #teal {
                        background-image: radial-gradient(paleturquoise, mediumaquamarine);
                    }
                    #purple {
                        background-image: radial-gradient(lavender, plum);
                    }
                    #yellow {
                        background-image: radial-gradient(#fffbd3, #fffdb5);
                    }
                    #orange {
                        background-image: radial-gradient(papayawhip, peachpuff);
                    }


a {
	text-decoration: none;
	color: hotpink;
}

a:hover {
	color: lavenderblush;
}

#death {
    width: 15vw;
}
.consenta {
    font-size: 15vw;
    transform: rotate(12deg);
    top:-10vw;
}

.consentb {
    font-size: 10vw;
    transform: rotate(2deg);
    color: red;
    top:-100vw;
}
.consentc {
    font-size: 25vw;
    transform: rotate(112deg);
    color: black;
    top:-100vw;
}
.consentd {
    font-size: 35vw;
    transform: rotate(72deg);
    top:-100vw;
}
.consente {
    font-size: 1.5vw;
    transform: rotate(-12deg);
    top:-100vw;
}
.consentf {
    font-size: 11vw;
    transform: rotate(72deg);
    top:-10vw;
}
.consentg {
    font-size: 5vw;
    transform: rotate(120deg);
    top:-10vw;
}.consenth {
    font-size: 10vw;
    color: white;
    transform: rotate(142deg);
    top:-10vw;
}.consenti {
    font-size: 7vw;
    transform: rotate(162deg);
    top:-10vw;
}.consentj {
    font-size: 14vw;
    color: hotpink;
    transform: rotate(312deg);
    top:-10vw;
}
.consentk {
    font-size: 10vw;
    transform: rotate(32deg);
    top:-10vw;
}
.consentl {
    font-size: 20vw;
    transform: rotate(2deg);
    top:-10vw;
}
.hoverblack {
    color: transparent;
    font-size: 5vw;
}
.hoverblack:hover{
    color: white;
}
.hoverlback a{
    color:transparent;
}
.thin {
    width:5vw;
}

.left {
    position: relative;
	grid-column-start:1;
    grid-row-start:1;
    z-index: 999;
}
.right {
    position: relative;
    align-content: right;
	grid-column-start: 3;
    grid-row-start: 1;
}
.double {
    position:relative;
    grid-column-start:1;
    grid-column-end: 3;
}
.title {   
    position: relative;
    height: 65vh;
    grid-column-start:1;
    grid-column-end: 3;
}
.story {
    position: relative;
	width: 30vw;
}

.image {
    position: relative;
	width: 40vw;
}

.pathway {
    font-size: 2.5vw;
}

.tooltip {
    position: absolute;
    color: transparent;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25vw;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 5vw;
    padding: 5vw ;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -6vw;
    align-content: center;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -2.5vw;
    border-width: 2.5vw;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#white img {
    box-shadow: 0vw 0vw 25vw 15vw mistyrose;
}

#ffgm {
    border: 2vw lightcyan double;
    background: cyan;
    border-radius: 50%;
    padding: 2vw;
    position: fixed;
    filter: blur(1px);
    box-shadow: 1vw 1vw 17vw 8vw cyan;
    top: -1vw;
    left: 5vw;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    opacity: .6;
    z-index: 1;
      animation: nudge 30s linear infinite alternate;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(1vw, 0);
  }
  
 50% {
    transform: translate(5vw, 0);
  }
  
  65% {
    transform: translate(2vw, 0);
  }

  75% {
    transform: translate(3vw, 0);
  }
}

#ffgm-screen {
    border: 2vw lightcyan double;
    background: cyan;
    border-radius: 50%;
    padding: 2vw;
    position: fixed;
    filter: blur(3px);
    box-shadow: 1vw 1vw 17vw 8vw cyan;
    bottom: -1vw;
    left: 5vw;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    opacity: .6;
    z-index: 1;
      animation: circular 10s linear infinite alternate;
}

@keyframes circular {
  0%,  {
    transform: translate(-1vw, 1vw);
  }
  
 25% {
    transform: translate(1vw, 1vw);
  }
  
  50% {
    transform: translate(1vw, -1vw);
  }

  75% {
    transform: translate(1vw, 1vw);
  }


#plate {
    width: 2vh;
    display: inline-block;
}

}
#plate:hover {
    animation: roll 5s ease infinite;
}

#greyplate:hover {
    visibility: hidden;
}

#wheel {
    width: 50vw;
    animation: roll 10s linear infinite;
}

#spindle {
    height: 50vh;
}

#tower {
    position: absolute;
    height: 50vh;
    top: - 50vw;
}

#hedge {
    position: relative;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

#frog {
    bottom: -1vh;
    height: 40vw;
}

.flame {
    position: fixed;
    top: -40vh;
}

#rose {
    height: 75vh;
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}