body {
  background-size: 350px auto;
  background-repeat: repeat;
  font-family: 'Chivo', sans-serif;
    color:white;
}
img {
  height: 75vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

img:hover {

}

h1 {
  text-shadow: 0.5vh 0.5vw black;
  font-size: 10vh;
  margin-left: 60vh;
  margin-top: 10vh;
  margin-right:5vh;
/*  text-decoration:overline;
  text-decoration-color: white;
  text-decoration-style: wavy;*/
  line-height: 0.95;
  letter-spacing: 1px;
  text-shadow: black 3px;
  z-index: 999;
}
div {
  background-color:white;
  opacity: 0.5;
  width:80vw;
  height: 80vh;
}

a {
text-decoration: none;
color: cyan;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:hotpink;
}

a:active {
  text-decoration: none;
}



.one {
    background-image: url("./images/bg1.gif");
}
.two {
    background-image: url("./images/bg2.gif");
    background-size: 650px auto;;
}
.three {
    background-image: url("./images/bg3.gif");
}
.four {
    background-image: url("./images/bg4.gif");
}
.five{
    background-image: url("./images/bg5.gif");
}
.six {
    background-image: url("./images/bg6.gif");
}
.seven {
    background-image: url("./images/bg7.gif");
}
.eight {
    background-image: url("./images/bg8.gif");
}
.nine {
    background-image: url("./images/bg9.gif");
}
.ten {
    background-image: url("./images/bg10.gif");
}
